* {
	font-family: monospace, sans-serif;
}

h1, h2 {
	text-align: center;
}

label {
	display: inline-block;
	width: 7ch;
}

input {
	width: 15ch;
}

#res {
	font-weight: bold;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
}

#softkeys {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	background: #dadada;
	padding: 3px 5px;
}

#softkeys > * {
	display: inline-block;
	width: 60px;
	padding: 0px 5px;
}

#softkey-left, #softkey-right {
	font-weight: 400;
	font-size: 14px;
	color: #323232;
}

#softkey-right {
	text-align: right;
}

#softkey-center {
	font-weight: 600;
	font-size: 16px;
	width: 76px;
	color: #323232;
	text-align: center;
}